huggingface_hub==0.23.2
hf_transfer
pydantic
pynvml
pycuda
nvtx
pandas
av
aiohttp
aiohttp_middlewares
twilio
PyNvVideoCodec
git+https://github.com/yondonfu/aiortc.git@f2332244ee9a41e3e0f9d63896abb25cc5d1531b
git+https://github.com/yondonfu/StreamDiffusion.git@deepstream#egg=streamdiffusion[tensorrt]
cvcuda_cu12-0.11.0b0-cp310-cp310-linux_x86_64.whl
